version: "3"

services:

  gunicorn_server:
    restart: always
    image: annif
    volumes:
      - ${ANNIF_PROJECTS}:/annif_projects
    user: ${UID}:${GID}
    command: ["gunicorn", "annif:create_app()", "--bind", "0.0.0.0:8000"]

  nginx:
    restart: always
    image: nginx
    volumes:
      - ./annif/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - gunicorn_server
