[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[[source]]
url = "https://testpypi.python.org/pypi"
verify_ssl = true
name = "test"

[dev-packages]
codecov = "*"
python-coveralls = "*"
pytest-cov = "*"
pytest-watch = "*"
pytest-flask = "*"
"pytest-pep8" = "*"
swagger-tester = "*"
bumpversion = "*"

[packages]
"e1839a8" = {editable = true, path = "."}
connexion = "*"
click-log = "*"
nltk = "*"
gensim = "*"
sklearn = "*"
fasttext = {version="*", index="test"}
rdflib = "*"

[requires]
