[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
codecov = "*"
pytest-cov = "*"
pytest-watch = "*"
pytest-flask = "*"
"pytest-pep8" = "*"
swagger-tester = "*"
bumpversion = "*"

[packages]
"e1839a8" = {editable = true, path = "."}
connexion = {extras = ["swagger-ui"]}
swagger-ui-bundle = "*"
flask-cors = "*"
click-log = "*"
nltk = "*"
gensim = "*"
sklearn = "*"
rdflib = "*"

[requires]
