# Example configuration for Annif

[tfidf-fi]
name=TF-IDF Finnish
language=fi
backends=tfidf-fi
analyzer=snowball(finnish)

[tfidf-sv]
name=TF-IDF Swedish
language=sv
backends=tfidf-sv
analyzer=snowball(swedish)

[tfidf-en]
name=TF-IDF English
language=en
backends=tfidf-en
analyzer=snowball(english)

[fasttext-fi]
name=fastText Finnish
language=fi
backends=fasttext-fi
analyzer=snowball(finnish)

[fasttext-sv]
name=fastText Swedish
language=sv
backends=fasttext-sv
analyzer=snowball(swedish)

[fasttext-en]
name=fastText English
language=en
backends=fasttext-en
analyzer=snowball(english)

[annif-api]
name=Annif prototype API via HTTP
language=fi
backends=annif-org
analyzer=snowball(finnish)
