# Example configuration for Annif

[tfidf-fi]
name=TF-IDF Finnish
language=fi
backend=tfidf
analyzer=voikko(fi)
limit=100
vocab=yso-fi

[tfidf-sv]
name=TF-IDF Swedish
language=sv
backend=tfidf
analyzer=snowball(swedish)
limit=100
vocab=yso-sv

[tfidf-en]
name=TF-IDF English
language=en
backend=tfidf
analyzer=snowball(english)
limit=100
vocab=yso-en

[fasttext-fi]
name=fastText Finnish
language=fi
backend=fasttext
analyzer=voikko(fi)
dim=500
lr=0.25
epoch=30
loss=hs
limit=100
chunksize=24
vocab=yso-fi

[fasttext-sv]
name=fastText Swedish
language=sv
backend=fasttext
analyzer=snowball(swedish)
dim=500
lr=0.25
epoch=30
loss=hs
limit=100
chunksize=24
vocab=yso-sv

[fasttext-en]
name=fastText English
language=en
backend=fasttext
analyzer=snowball(english)
dim=500
lr=0.25
epoch=30
loss=hs
limit=100
chunksize=24
vocab=yso-en

[maui-fi]
name=Maui Finnish
language=fi
backend=maui
endpoint=http://localhost:8080/mauiserver/
#endpoint=http://mauiserver:8080/mauiserver/
tagger=maui-fi
vocab=yso-fi

[maui-sv]
name=Maui Swedish
language=sv
backend=maui
endpoint=http://localhost:8080/mauiserver/
#endpoint=http://mauiserver:8080/mauiserver/
tagger=maui-sv
vocab=yso-sv

[maui-en]
name=Maui English
language=en
backend=maui
endpoint=http://localhost:8080/mauiserver/
#endpoint=http://mauiserver:8080/mauiserver/
tagger=maui-en
vocab=yso-en

[omikuji-parabel-fi]
name=Omikuji Parabel Finnish
language=fi
backend=omikuji
analyzer=voikko(fi)
vocab=yso-fi

[omikuji-parabel-sv]
name=Omikuji Parabel Swedish
language=sv
backend=omikuji
analyzer=snowball(swedish)
vocab=yso-sv

[omikuji-parabel-en]
name=Omikuji Parabel English
language=en
backend=omikuji
analyzer=snowball(english)
vocab=yso-en

[ensemble-fi]
name=Ensemble Finnish
language=fi
backend=ensemble
sources=tfidf-fi,fasttext-fi,maui-fi

[ensemble-sv]
name=Ensemble Swedish
language=sv
backend=ensemble
sources=tfidf-sv,fasttext-sv,maui-sv

[ensemble-en]
name=Ensemble English
language=en
backend=ensemble
sources=tfidf-en,fasttext-en,maui-en
