[tool.poetry]
name = "annif"
version = "1.0.0-dev"
description = "Automated subject indexing and classification tool"
authors = ["National Library of Finland <finto-posti@helsinki.fi>"]
maintainers = [
    "Osma Suominen <osma.suominen@helsinki.fi>",
    "Juho Inkinen <juho.inkinen@helsinki.fi>",
    "Mona Lehtinen <mona.lehtinen@helsinki.fi>",
]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://annif.org"
repository = "https://github.com/NatLibFi/Annif"
documentation = "https://github.com/NatLibFi/Annif/wiki"
keywords = [
    "machine-learning",
    "text-classification",
    "rest-api",
    "code4lib",
    "subject-indexing"
]

classifiers=[
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent"
]

[tool.poetry.dependencies]
python = ">=3.8,<3.11"

connexion = {version = "3.0.*", extras = ["flask","uvicorn", "swagger-ui"]}
flask-cors = "3.0.*"
click = "8.1.*"
click-log = "0.4.*"
joblib = "1.2.*"
nltk = "3.8.*"
gensim = "4.3.*"
scikit-learn = "1.2.2"
scipy = "1.10.*"
rdflib = ">=4.2,<7.0"
gunicorn = "20.1.*"
numpy = "1.24.*"
optuna = "2.10.*"
stwfsapy = "0.3.*"
python-dateutil = "2.8.*"
tomli = "2.0.*"
simplemma = "0.9.*"
jsonschema = "4.17.*"

fasttext-wheel = {version = "0.9.2", optional = true}
voikko = {version = "0.5.*", optional = true}
tensorflow-cpu = {version = "2.11.*", optional = true}
lmdb = {version = "1.4.1", optional = true}
omikuji = {version = "0.5.*", optional = true}
yake = {version = "0.4.5", optional = true}
spacy = {version = "3.5.*", optional = true}

[tool.poetry.dev-dependencies]
py = "*"
pytest = "*"
requests = "*"
pytest-cov = "*"
pytest-watch = "*"
pytest-flask = "*"
flake8 = "*"
bumpversion = "*"
black = "23.*"
isort = "*"
schemathesis = "3.19.*"

[tool.poetry.extras]
fasttext = ["fasttext-wheel"]
voikko = ["voikko"]
nn = ["tensorflow-cpu", "lmdb"]
omikuji = ["omikuji"]
yake = ["yake"]
spacy = ["spacy"]

[tool.poetry.scripts]
annif = "annif.cli:cli"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
line_length = "88"
skip_gitignore = true

[tool.pytest.ini_options]
addopts = "-m 'not slow'"
