PyYAML==3.12
Cython==0.26.1
ipython==6.2.0
pyOpenSSL==17.3.0
argcomplete==1.9.2
blinker==1.4
com==1.0.0
cryptography==2.0.3
ed25519ll==0.6
functools32==3.2.3-2
gevent==1.2.2
protobuf==3.4.0
greenlet==0.4.12
ipaddr==2.2.0
isodate==0.5.4
java==0.0.1
keyring==10.4.0
lxml==4.0.0
python_memcached==1.58
ndg_httpsclient==0.4.3
nt==0.0.0
numpy==1.13.1
org==1.0.0
pretty==0.1
pyasn1==0.3.6
pylibmc==1.5.2
redis==2.10.6
rfc3987==1.3.7
simplejson==3.11.1
strict_rfc3339==0.7
termcolor==1.1.0
tornado==4.5.2
Twisted==17.9.0rc1
unittest2==1.1.0
uwsgi==2.0.15
uwsgi_metrics==1.1.5
watchdog==0.8.3
webcolors==1.7
wincertstore==0.2
pyxdg==0.25
zope==4.0b1
