{% extends "base.html" %}

{% block head %}
<script type="text/javascript">

function clearResults() {
    $('#results').empty();
}

function fetch_projects() {
    $.ajax({
        url: "/v1/projects",
        method: 'GET',
        success: function(data) {
            $.each(data.projects, function(idx, value) {
                $('#project').append(
                    $('<option>').attr('value',value.project_id).append(value.name)
                );
            });
        }
    });

}

function analyze() {
    $.ajax({
        url: "/v1/projects/" + $('#project').val() + "/analyze",
        method: 'POST',
        data: { 
          text: $('#text').val(),
        },
        success: function(data) {
            $.each(data.results, function(idx, value) {
                $('#results').append(
                    $('<li>').append(
                        $('<a>').attr('href',value.uri).append(value.label)
                    )
                );
            });
        }
    });
}

$(document).ready(function() {
    fetch_projects();
    $('#submit').click(function() {
        clearResults();
        analyze();
    });
});

</script>
{% endblock %}

{% block content %}
<h1>Annif</h1>
<p>Welcome!</p>

<h2>REST API</h2>

<p>See the <a href="v1/ui/">Swagger documentation</a> for API specification.</p>

<h2>Try it!</h2>

<div class="row">
  <div class="col-8">

    <label for="text">Text to analyze:</label><br>
    <textarea rows="20" cols="70" name="text" id="text">

    </textarea>
  </div>

  <div class="col-4">

    <label for="project">Language/Project:</label>
    <select name="project" id="project">
    </select>
    <input type="submit" name="submit" id="submit" value="Analyze">

  <h2>Results</h2>
  <ul id="results">
  </ul>

  </div>
</div>

{% endblock %}
