name: "Docker rebuild"
on: workflow_dispatch
permissions:
  contents: read

jobs:
  rebuild-docker-images:
    name: "Docker rebuild"
    runs-on: ubuntu-22.04
    timeout-minutes: 15
    steps:
    - name: "Build for testing"
      uses: docker/build-push-action@2cdde995de11925a030ce8070c3d77a52ffcf1c0  # v5.3.0
      with:
        push: false
        tags: test-image
    - name: "Test with pytest"
      run: |
        docker run --rm --workdir /Annif test-image pytest -p no:cacheprovider
    - name: Login to Quay.io
      uses: docker/login-action@0d4c9c5ea7693da7b068278f7b52bda2a190a446  # v3.2.0
      with:
        registry: quay.io
        username: ${{ secrets.YHTEENTOIMIVUUSPALVELUT_QUAY_IO_USERNAME }}
        password: ${{ secrets.YHTEENTOIMIVUUSPALVELUT_QUAY_IO_PASSWORD }}
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81  # v5.5.1
      with:
        images: quay.io/natlibfi/annif
        flavor: |
          latest=false
        tags: |
          type=semver,pattern={{version}},suffix=-{{date 'YYYYMMDD'}}
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
    - name: Build and push to Quay.io
      uses: docker/build-push-action@2cdde995de11925a030ce8070c3d77a52ffcf1c0  # v5.3.0
      with:
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
