# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ actions-test ]
  pull_request:
    branches: [ actions-test ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Install system packages
      run: |
        sudo apt-get install \
          libvoikko1 \
          voikko-fi
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[dev]
        python -m nltk.downloader punkt
        # Selectively install the optional dependencies for some Python versions
        # Install the optional neural network dependencies (TensorFlow and LMDB)
        # - except for one Python version (3.7) so that we can test also without them
        if [[ ${{ matrix.python-version }} != '3.7' ]]; then pip install .[nn]; fi
        # Install the optional Omikuji dependency
        # - except for one Python version (3.7) so that we can test also without them
        if [[ ${{ matrix.python-version }} != '3.7' ]]; then pip install .[omikuji]; fi
        # Install the optional fastText dependencies for Python 3.7 only
        if [[ ${{ matrix.python-version }} == '3.7' ]]; then pip install .[fasttext]; fi
        # For Python 3.6
        # - voikko dependencies
        if [[ ${{ matrix.python-version }} == '3.6' ]]; then python -m pip install .[voikko]; fi 
        # Install the optional VowpalWabbit dependency for Python 3.6
        if [[ ${{ matrix.python-version }} == '3.6' ]]; then pip install .[vw]; fi

    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pytest
    - name: Build distribution
      if: matrix.python-version }} == '3.8'
      run: |
        python -m pip install wheel
        python setup.py sdist bdist_wheel
    - name: Publish distribution to Test PyPI
      if: matrix.python-version }} == '3.8'
      uses: pypa/gh-action-pypi-publish@release/v1.4
      with:
        password: ${{ secrets.TEST_PYPI_API_TOKEN }}
        repository_url: https://test.pypi.org/legacy/
